h2 {
  font-size: calc(10px + 2vmin);
  text-align: center;
}
h1 {
  font-size: calc(10px + 2vmin);
  text-align: center;
}

#signupForm {
  background-color: inherit;
  height: 645px;
}

button {
  color: white;
  background-color: #1db954;
  width: 300px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 30px;
  margin-bottom: 1px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}
.btn {
  padding-top: 7px;
}
.btn:hover {
  background-color:  rgb(233, 221, 221);
  color: black;
}
#bfb {
  color: white;
  background-color: #3b5998;
  text-align: "center";
  width: 300px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 30px;
  margin-bottom: 1px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}
#bfb:hover {
  background-color: #476ab6;
}

input {
  width: 300px;
  height: 30px;
}

.forminput {
  width: 300px;
  height: 30px;
}

.components {
  text-align: center;
}
#D1 {
  width: 65px;
  height: 20px;
}
#D2 {
  width: 65px;
  height: 20px;
}
#D3 {
  width: 80px;
  height: 25px;
}
li {
  text-align: center;
}
#label1 {
  text-align: center;
}
#gender {
  text-align: start;
}
.errormsg {
  color: indigo;
  font-size: small;
}

#labelfemale {
  text-align: center;
}
#labelmale {
  text-align: center;
}
#forlogin {
  color: grey;
  background-color: rgb(233, 221, 221);;
  text-align: "center";
  width: 300px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 30px;
  margin-bottom: 1px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}
#forlogin:hover {
  background-color:   #1db954;
  color: grey;
}
h3{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}
h1{
  font-size: calc(10px + 2vmin);
  }
.row{
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
#select{
  width: 300px;
  height: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}